# PyCity Schools Analysis

- Your analysis here
  
---

In [140]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

# File to Load (Remember to Change These)
school_file = Path("Resources/schools_complete.csv")
student_file = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_file)
student_df = pd.read_csv(student_file)

# Combine the data into a single dataset.  
merge_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
merge_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [141]:
# Calculate the total number of unique schools
school_count = school_df['school_name'].count()
school_count

15

In [142]:
# Calculate the total number of students
student_count = student_df['student_name'].count()
student_count

39170

In [143]:
# Calculate the total budget
total_budget = school_df['budget'].sum()
total_budget

24649428

In [144]:
# Calculate the average (mean) math score
average_math_score = student_df['math_score'].mean()
average_math_score

78.98537145774827

In [145]:
# Calculate the average (mean) reading score
average_reading_score = student_df['reading_score'].mean()
average_reading_score

81.87784018381414

In [146]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = merge_df[(merge_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [147]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = merge_df[(merge_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [148]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = merge_df[
    (merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [149]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {"Total Schools" : school_count,
                   "Total Students" : student_count,
                   "Total Budget" : total_budget,
                   "Average Math Score" : average_math_score,
                   "Average Reading Score" : average_reading_score,
                    "% Passing Math" : passing_math_percentage,
                   "% Passing Reading" : passing_reading_percentage,
                   "% Overall Passing" : overall_passing_rate
                  }
district_summary_df = pd.DataFrame([district_summary])

# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [150]:
# Use the code provided to select all of the school types
school_summary = merge_df.groupby(['school_name'])
school_names = merge_df.school_name.sort_values().unique()
school_types = school_df.sort_values(by="school_name").type
school_types

7     District
6      Charter
1     District
13    District
4      Charter
3     District
8      Charter
0     District
12    District
9      Charter
11    District
2      Charter
14     Charter
5      Charter
10     Charter
Name: type, dtype: object

In [151]:
# Calculate the total student count per school

per_school_counts = list(school_summary.student_name.count())
per_school_counts

[4976,
 1858,
 2949,
 2739,
 1468,
 4635,
 427,
 2917,
 4761,
 962,
 3999,
 1761,
 1635,
 2283,
 1800]

In [152]:
# Calculate the total school budget and per capita spending per school
per_school_budget = list(school_summary.budget.mean())
per_student_budget = [i/j for i,j in zip(per_school_budget,per_school_counts)]
per_school_budget
per_student_budget

[628.0,
 582.0,
 639.0,
 644.0,
 625.0,
 652.0,
 581.0,
 655.0,
 650.0,
 609.0,
 637.0,
 600.0,
 638.0,
 578.0,
 583.0]

In [153]:
# Calculate the average test scores per school
per_school_math = list(school_summary.math_score.mean())
per_school_reading = list(school_summary.reading_score.mean())

In [154]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = merge_df[merge_df['math_score'] >= 70].groupby(['school_name'])

In [155]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = merge_df[merge_df['reading_score'] >= 70].groupby(['school_name'])

In [156]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = merge_df[(merge_df["reading_score"] >= 70) & (merge_df["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [157]:
# Use the provided code to calculate the passing rates
per_school_passing_math = [(i/j)*100 for i,j in zip(students_passing_math.math_score.count(),per_school_counts)]
per_school_passing_reading = [(i/j)*100 for i,j in zip(students_passing_reading.reading_score.count(),per_school_counts)]
overall_passing_rate = [(i+j)/2 for i,j in zip(per_school_passing_math,per_school_passing_reading)]
overall_passing_rate

[74.30667202572349,
 95.58665231431647,
 73.36385215327229,
 73.80430814165754,
 95.26566757493188,
 73.80798274002157,
 94.37939110070258,
 73.50017140898183,
 73.6399915984037,
 95.27027027027026,
 73.2933233308327,
 94.86087450312323,
 95.29051987767585,
 95.20367936925099,
 94.97222222222223]

In [227]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = {"School Names":school_names,
                                  "School Type":school_types,
                                  "Total Students":per_school_counts,
                                  "Total School Budget":per_school_budget,
                                  "Per Student Budget":per_student_budget,
                                  "Average Math Score":per_school_math,
                                  "Average Reading Score":per_school_reading,
                                  "% Passing Math":per_school_passing_math,
                                  "% Passing Reading":per_school_passing_reading,
                                  "% Overall Passing Rate":overall_passing_rate}

#per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
#per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
                                                                                        
# Display the DataFrame

per_school_summary_df

#not showing the columns properly

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,"[Bailey High School, Cabrera High School, Figu...",7 District 6 Charter 1 District 1...,"[4976, 1858, 2949, 2739, 1468, 4635, 427, 2917...","[3124928.0, 1081356.0, 1884411.0, 1763916.0, 9...","[628.0, 582.0, 639.0, 644.0, 625.0, 652.0, 581...",<pandas.core.groupby.generic.DataFrameGroupBy ...,<pandas.core.groupby.generic.DataFrameGroupBy ...,"[66.68006430868168, 94.1334768568353, 65.98847...","[81.93327974276528, 97.03982777179763, 80.7392...","[74.30667202572349, 95.58665231431647, 73.3638..."


# Highest-Performing Schools (by % Overall Passing)

In [170]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary_df.sort_values(['Overall Passing Rate'], ascending=False)
#top_schools = top_schools.reset_index(drop=True)

top_schools.head(5)
#not showing the columns properly

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,"[Bailey High School, Cabrera High School, Figu...",7 District 6 Charter 1 District 1...,"[4976, 1858, 2949, 2739, 1468, 4635, 427, 2917...","[3124928.0, 1081356.0, 1884411.0, 1763916.0, 9...","[628.0, 582.0, 639.0, 644.0, 625.0, 652.0, 581...",<pandas.core.groupby.generic.DataFrameGroupBy ...,<pandas.core.groupby.generic.DataFrameGroupBy ...,"[66.68006430868168, 94.1334768568353, 65.98847...","[81.93327974276528, 97.03982777179763, 80.7392...","[74.30667202572349, 95.58665231431647, 73.3638..."

## Bottom Performing Schools (By % Overall Passing)

In [172]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary_df.sort_values(['Overall Passing Rate'],ascending=True)

bottom_schools.head(5)
#not showing the columns properly

,School Names,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,"[Bailey High School, Cabrera High School, Figu...",7 District 6 Charter 1 District 1...,"[4976, 1858, 2949, 2739, 1468, 4635, 427, 2917...","[3124928.0, 1081356.0, 1884411.0, 1763916.0, 9...","[628.0, 582.0, 639.0, 644.0, 625.0, 652.0, 581...",<pandas.core.groupby.generic.DataFrameGroupBy ...,<pandas.core.groupby.generic.DataFrameGroupBy ...,"[66.68006430868168, 94.1334768568353, 65.98847...","[81.93327974276528, 97.03982777179763, 80.7392...","[74.30667202572349, 95.58665231431647, 73.3638..."

## Math Scores by Grade

In [181]:
# Use the code provided to separate the data by grade
ninth_graders = merge_df[(merge_df["grade"] == "9th")]
tenth_graders = merge_df[(merge_df["grade"] == "10th")]
eleventh_graders = merge_df[(merge_df["grade"] == "11th")]
twelfth_graders = merge_df[(merge_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_math_scores,
              "10th": tenth_grade_math_scores,
              "11th": eleventh_grade_math_scores,
              "12th": twelfth_grade_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

C:\Users\PK\AppData\Local\Temp\ipykernel_36288\2330903359.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
C:\Users\PK\AppData\Local\Temp\ipykernel_36288\2330903359.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
C:\Users\PK\AppData\Local\Temp\ipykernel_36288\2330903359.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
C:\Users\PK\AppData\Local\Temp\ipykernel_36288\2330903359.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [182]:
# Use the code provided to separate the data by grade
ninth_graders = merge_df[(merge_df["grade"] == "9th")]
tenth_graders = merge_df[(merge_df["grade"] == "10th")]
eleventh_graders = merge_df[(merge_df["grade"] == "11th")]
twelfth_graders = merge_df[(merge_df["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

C:\Users\PK\AppData\Local\Temp\ipykernel_36288\4149705986.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
C:\Users\PK\AppData\Local\Temp\ipykernel_36288\4149705986.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
C:\Users\PK\AppData\Local\Temp\ipykernel_36288\4149705986.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
C:\Users\PK\AppData\Local\Temp\ipykernel_36288\4149705986.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [228]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [230]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df

#not showing the columns properly

{'School Names': array(['Bailey High School', 'Cabrera High School',
        'Figueroa High School', 'Ford High School', 'Griffin High School',
        'Hernandez High School', 'Holden High School', 'Huang High School',
        'Johnson High School', 'Pena High School', 'Rodriguez High School',
        'Shelton High School', 'Thomas High School', 'Wilson High School',
        'Wright High School'], dtype=object),
 'School Type': 7     District
 6      Charter
 1     District
 13    District
 4      Charter
 3     District
 8      Charter
 0     District
 12    District
 9      Charter
 11    District
 2      Charter
 14     Charter
 5      Charter
 10     Charter
 Name: type, dtype: object,
 'Total Students': [4976,
  1858,
  2949,
  2739,
  1468,
  4635,
  427,
  2917,
  4761,
  962,
  3999,
  1761,
  1635,
  2283,
  1800],
 'Total School Budget': [3124928.0,
  1081356.0,
  1884411.0,
  1763916.0,
  917500.0,
  3022020.0,
  248087.0,
  1910635.0,
  3094650.0,
  585858.0,
  2547363.0,
  1056600.0,
  1043130.0,
  1319574.0,
  1049400.0],
 'Per Student Budget': [628.0,
  582.0,
  639.0,
  644.0,
  625.0,
  652.0,
  581.0,
  655.0,
  650.0,
  609.0,
  637.0,
  600.0,
  638.0,
  578.0,
  583.0],
 'Average Math Score': [77.04843247588424,
  83.06189451022605,
  76.71176670057646,
  77.10259218692954,
  83.35149863760218,
  77.28975188781014,
  83.80327868852459,
  76.62941378128214,
  77.07246376811594,
  83.83991683991684,
  76.84271067766942,
  83.3594548551959,
  83.4183486238532,
  83.2742006132282,
  83.68222222222222],
 'Average Reading Score': [81.03396302250803,
  83.97578040904197,
  81.15801966768396,
  80.74625775830594,
  83.816757493188,
  80.9344120819849,
  83.81498829039812,
  81.18272197463148,
  80.96639361478681,
  84.04469854469855,
  80.74468617154288,
  83.72572402044293,
  83.84892966360856,
  83.98948751642575,
  83.955],
 '% Passing Math': [66.68006430868168,
  94.1334768568353,
  65.98847066802306,
  68.3096020445418,
  93.39237057220708,
  66.7529665587918,
  92.50585480093677,
  65.68392183750429,
  66.0575509346776,
  94.5945945945946,
  66.36659164791197,
  93.8671209540034,
  93.27217125382263,
  93.8677179150241,
  93.33333333333333],
 '% Passing Reading': [81.93327974276528,
  97.03982777179763,
  80.73923363852154,
  79.29901423877328,
  97.13896457765668,
  80.86299892125135,
  96.25292740046838,
  81.31642098045938,
  81.2224322621298,
  95.94594594594594,
  80.22005501375344,
  95.85462805224304,
  97.30886850152906,
  96.53964082347788,
  96.61111111111111],
 '% Overall Passing Rate': [74.30667202572349,
  95.58665231431647,
  73.36385215327229,
  73.80430814165754,
  95.26566757493188,
  73.80798274002157,
  94.37939110070258,
  73.50017140898183,
  73.6399915984037,
  95.27027027027026,
  73.2933233308327,
  94.86087450312323,
  95.29051987767585,
  95.20367936925099,
  94.97222222222223]}

In [226]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_budget, spending_bins, labels=group_names,include_lowest=True)
school_spending_df

#not showing the columns properly

{'School Names': array(['Bailey High School', 'Cabrera High School',
        'Figueroa High School', 'Ford High School', 'Griffin High School',
        'Hernandez High School', 'Holden High School', 'Huang High School',
        'Johnson High School', 'Pena High School', 'Rodriguez High School',
        'Shelton High School', 'Thomas High School', 'Wilson High School',
        'Wright High School'], dtype=object),
 'School Type': 7     District
 6      Charter
 1     District
 13    District
 4      Charter
 3     District
 8      Charter
 0     District
 12    District
 9      Charter
 11    District
 2      Charter
 14     Charter
 5      Charter
 10     Charter
 Name: type, dtype: object,
 'Total Students': [4976,
  1858,
  2949,
  2739,
  1468,
  4635,
  427,
  2917,
  4761,
  962,
  3999,
  1761,
  1635,
  2283,
  1800],
 'Total School Budget': [3124928.0,
  1081356.0,
  1884411.0,
  1763916.0,
  917500.0,
  3022020.0,
  248087.0,
  1910635.0,
  3094650.0,
  585858.0,
  2547363.0,
  1056600.0,
  1043130.0,
  1319574.0,
  1049400.0],
 'Per Student Budget': [628.0,
  582.0,
  639.0,
  644.0,
  625.0,
  652.0,
  581.0,
  655.0,
  650.0,
  609.0,
  637.0,
  600.0,
  638.0,
  578.0,
  583.0],
 'Average Math Score': [77.04843247588424,
  83.06189451022605,
  76.71176670057646,
  77.10259218692954,
  83.35149863760218,
  77.28975188781014,
  83.80327868852459,
  76.62941378128214,
  77.07246376811594,
  83.83991683991684,
  76.84271067766942,
  83.3594548551959,
  83.4183486238532,
  83.2742006132282,
  83.68222222222222],
 'Average Reading Score': [81.03396302250803,
  83.97578040904197,
  81.15801966768396,
  80.74625775830594,
  83.816757493188,
  80.9344120819849,
  83.81498829039812,
  81.18272197463148,
  80.96639361478681,
  84.04469854469855,
  80.74468617154288,
  83.72572402044293,
  83.84892966360856,
  83.98948751642575,
  83.955],
 '% Passing Math': [66.68006430868168,
  94.1334768568353,
  65.98847066802306,
  68.3096020445418,
  93.39237057220708,
  66.7529665587918,
  92.50585480093677,
  65.68392183750429,
  66.0575509346776,
  94.5945945945946,
  66.36659164791197,
  93.8671209540034,
  93.27217125382263,
  93.8677179150241,
  93.33333333333333],
 '% Passing Reading': [81.93327974276528,
  97.03982777179763,
  80.73923363852154,
  79.29901423877328,
  97.13896457765668,
  80.86299892125135,
  96.25292740046838,
  81.31642098045938,
  81.2224322621298,
  95.94594594594594,
  80.22005501375344,
  95.85462805224304,
  97.30886850152906,
  96.53964082347788,
  96.61111111111111],
 '% Overall Passing Rate': [74.30667202572349,
  95.58665231431647,
  73.36385215327229,
  73.80430814165754,
  95.26566757493188,
  73.80798274002157,
  94.37939110070258,
  73.50017140898183,
  73.6399915984037,
  95.27027027027026,
  73.2933233308327,
  94.86087450312323,
  95.29051987767585,
  95.20367936925099,
  94.97222222222223],
 'Spending Ranges (Per Student)': [NaN, NaN, NaN, NaN, NaN, ..., NaN, NaN, NaN, NaN, NaN]
 Length: 15
 Categories (4, object): ['<$585' < '$585-630' < '$630-645' < '$645-680']}

In [218]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

#AttributeError: 'dict' object has no attribute 'groupby'

AttributeError: 'dict' object has no attribute 'groupby'

In [222]:
# Assemble into DataFrame
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

# Display results
spending_summary_df

#NameError: name 'spending_math_scores' is not defined - should work after above is fixed

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [232]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [234]:
# Categorize the spending based on the bins
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], size_bins, labels=group_names)


# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary_df.head()

TypeError: '<' not supported between instances of 'int' and 'list'

In [235]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

AttributeError: 'dict' object has no attribute 'groupby'

In [236]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

SyntaxError: invalid syntax (2591471974.py, line 3)

## Scores by School Type

In [237]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

C:\Users\PK\AppData\Local\Temp\ipykernel_36288\2968668445.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]

TypeError: unhashable type: 'Series'

In [34]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208